*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:#0f054d;
  --hover-color: #0d6893;
  --heading-color:  #1b2f45;
  --wh-color: #F7F9FC;
  --btn-color: #56b8e6;
  --footer-color: #F7F9FC;
  --main-transition: .5s;
}

.section-heading span{
  height: 3px;
  width: 5rem;
  background-color: var(--btn-color);
}

a{
  text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------------ */
/* navbar */
nav .navbar-nav .nav-item .nav-link{
  color: var(--heading-color);
}

nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .nav-link:hover{
  transition: var(--main-transition);
  color: var(--hover-color);
}

.navbar .navbar-toggler{
  color: var(--heading-color);
  border-color: var(--heading-color);
}

.navbar .navbar-toggler:focus{
  box-shadow: none;
}

.navbar .navbar-toggler i{
  color: var(--heading-color);
}
/* --------------------------------------------------------------------------------------------------------------------- */
/* blog-landing */
.blog-landing{
  background: linear-gradient(rgba(27, 47, 69, 0.8), rgba(27, 47, 69, 0.5)), 
  url(../img/blog-header.jpg) center center;
    background-size: cover;
    height: 50vh;
}

.blog-landing .info span{
  color: var(--btn-color);
}
/* ------------------------------------------------------------------------------------------- */
/* blog-content */
.blog-content .sub-1-item > a{
  color: var(--heading-color);
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 20px 0;
  transition: var(--main-transition);
}

.blog-content .sub-1-item > a:hover{
  color: var(--btn-color);
}

.blog-content .sub-1-item li{
  font-size: 13px;
  color: var(--btn-color);
  padding: 0 5px;
}

.blog-content .sub-1-item li a{
  color: var(--btn-color);
}

.blog-content .sub-2-item input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.blog-content .sub-2-item button{
  position: absolute;
  left: 200;
  padding: 10px 15px;
  background-color: var(--btn-color);
  color: var(--wh-color);
  border: 1px solid var(--btn-color);
  transition: var(--main-transition);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
}

.blog-content .sub-2-item button:hover{
  background-color: var(--hover-color);
}
/* -------------------------------------------------------------------------------- */
/* footer */
footer{
  background-color: var(--footer-color);
}

footer h2,
footer h4{
  color: var(--heading-color);
}

footer .social i{
    font-size: 20px;
     color: var(--heading-color);
     cursor: pointer;
     transition: var(--main-transition);
 }

footer .social i:hover{
  color: var(--hover-color);
 }

footer a{
  padding-top: 10px;
  color: var(--bg-color);
  transition: var(--main-transition);
}

footer a:hover{
  color: var(--btn-color);
}


/* ------------------------------------------------------------------------------------ */
/* btn to up */
.btn-up{
  background-color: var(--bg-color);
  color: var(--wh-color);
  border: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
   display: none;
}