*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:#0f054d;
  --hover-color: #0d6893;
  --heading-color:  #1b2f45;
  --wh-color: #F7F9FC;
  --btn-color: #56b8e6;
  --footer-color: #F7F9FC;
  --main-transition: .5s;
}

.section-heading span{
  height: 3px;
  width: 5rem;
  background-color: var(--btn-color);
}

a{
  text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------------ */
/* navbar */
nav .navbar-nav .nav-item .nav-link{
  color: var(--heading-color);
}

nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .nav-link:hover{
  transition: var(--main-transition);
  color: var(--hover-color);
}

.navbar .navbar-toggler{
  color: var(--heading-color);
  border-color: var(--heading-color);
}

.navbar .navbar-toggler:focus{
  box-shadow: none;
}

.navbar .navbar-toggler i{
  color: var(--heading-color);
}
/* --------------------------------------------------------------------------------------------------------------------- */
/* services-landing */
.services-landing{
  background: linear-gradient(rgba(27, 47, 69, 0.8), rgba(27, 47, 69, 0.5)), 
  url(../img/services-header.jpg) center center;
    background-size: cover;
    height: 50vh;
}

.services-landing .info span{
  color: var(--btn-color);
}
/* ------------------------------------------------------------------------------------------- */
/* testimonials */
.testimonials{
  overflow: hidden;

}
.testimonials .star i{
  color: goldenrod;
}

.testimonials img{
  width: 150px;
}

.testimonials .testimonials-item{
  box-shadow: 0px 2px 15px rgb(18 66 101 / 8%);
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px;
  transition: var(--main-transition);
}

.testimonials .testimonials-item:hover{
  transform: scale(1.1);
}
/* -------------------------------------------------------------------------------- */
/* footer */
footer{
  background-color: var(--footer-color);
}

footer h2,
footer h4{
  color: var(--heading-color);
}

 footer .social i{
    font-size: 20px;
     color: var(--heading-color);
     cursor: pointer;
     transition: var(--main-transition);
 }

 footer .social i:hover{
  color: var(--hover-color);
 }

footer a{
  padding-top: 10px;
  color: var(--bg-color);
  transition: var(--main-transition);
}

footer a:hover{
  color: var(--btn-color);
}
/* ------------------------------------------------------------------------------------ */
/* btn to up */
.btn-up{
  background-color: var(--bg-color);
  color: var(--wh-color);
  border: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
   display: none;
}