*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:#0f054d;
  --hover-color: #0d6893;
  --heading-color:  #1b2f45;
  --wh-color: #fff;
  --btn-color: #56b8e6;
  --main-transition: .5s;
}

/* ------------------------------------------------------------------------------------------------------ */
/* navbar */
nav .navbar-nav .nav-item .nav-link{
  color: var(--heading-color);
}

nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .nav-link:hover{
  transition: var(--main-transition);
  color: var(--hover-color);
}

.navbar .navbar-toggler{
  color: var(--heading-color);
  border-color: var(--heading-color);
}

.navbar .navbar-toggler:focus{
  box-shadow: none;
}

.navbar .navbar-toggler i{
  color: var(--heading-color);
}
/* --------------------------------------------------------------------------------------------------------------------- */
/* landing */
.landing{
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  height: 100vh;

}

 .landing .landing-content{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

.landing .landing-content .btn{
   background-color: var(--btn-color);
   border: none;
}
 
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 112vh;
  background-color: rgb(0, 0, 0, 70%);
} 





