*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:#0f054d;
  --hover-color: #0d6893;
  --heading-color:  #1b2f45;
  --wh-color: #F7F9FC;
  --btn-color: #56b8e6;
  --footer-color: #F7F9FC;
  --main-transition: .5s;
}

.section-heading span{
  height: 3px;
  width: 5rem;
  background-color: var(--btn-color);
}

a{
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------ */
/* navbar */
nav .navbar-nav .nav-item .nav-link{
  color: var(--heading-color);
}

nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .nav-link:hover{
  transition: var(--main-transition);
  color: var(--hover-color);
}

.navbar .navbar-toggler{
  color: var(--heading-color);
  border-color: var(--heading-color);
}

.navbar .navbar-toggler:focus{
  box-shadow: none;
}

.navbar .navbar-toggler i{
  color: var(--heading-color);
}
/* --------------------------------------------------------------------------------------------------------------------- */
/* landing */
.landing{
  background: linear-gradient(rgba(27, 47, 69, 0.8), rgba(27, 47, 69, 0.5)), 
  url(../img/hero-bg.jpg) center center;
    background-size: cover;
    height: 100vh;
}

 .landing .landing-content{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
}

.landing .landing-content .btn{
   background-color: var(--btn-color);
   border: none;
}
/* ------------------------------------------------------------------------------------------- */
/* about */
.about .row{
   background-color: var(--wh-color);
}

.about .about-item h3{
   color: var(--heading-color);
}

.about .about-item h4{
  color: var(--bg-color);
}
/* --------------------------------------------------------------------------------- */
/* Services */
.services .services-item{
  cursor: pointer;
}

.services .services-item .title a{
  color: var(--heading-color);
}

.services .services-item:hover .title a{
  transition: var(--main-transition);
  color: var(--hover-color);
}

.services svg{
  padding-bottom: 1rem;
  font-size: 2rem;
}
/* ------------------------------------------------------------------------------------------- */
/* Call */
.call{
  background: linear-gradient(rgba(27, 47, 69, 0.8), rgba(27, 47, 69, 0.8)), 
  url(../img/cta-bg.jpg) center center;
    background-size: cover;
    padding: 100px 10px;
}

.call .call-content p{
  color: var(--wh-color);
}

.call .call-content .btn{
    background-color: var(--btn-color);
    border: none;
}
/* --------------------------------------------------------------------------------------------- */
/* blog */
.blog .blog-item{
  overflow: hidden;
  cursor: pointer;
}

.blog .blog-item h4{
  margin-top: 10px;
  font-size: 15px;
  font-weight: normal;
  color: var(--btn-color);
}

.blog .blog-item h2{
  margin-bottom: 10px;
  font-size: 20px;
}

 .blog .blog-item p{
  height: 100px;
}

.blog .blog-item span{
   color: #000;
}

.blog .blog-item:hover img{
  transform: scale(1.1);
  transition: var(--main-transition);

}

.blog .blog-item:hover h2{
    color: var(--btn-color);
    transition: var(--main-transition);
}

.blog .blog-item a{
  color: var(--btn-color);
  font-size: 20px;
}
/* -------------------------------------------------------------------------------------- */
/* footer */
footer{
  background-color: var(--footer-color);
}

footer h2,
footer h4{
  color: var(--heading-color);
}

 footer .social i{
    font-size: 20px;
     color: var(--heading-color);
     cursor: pointer;
     transition: var(--main-transition);
 }


 footer .social i:hover{
  color: var(--hover-color);
 }



footer a{
  padding-top: 10px;
  color: var(--bg-color);
  transition: var(--main-transition);
}

footer a:hover{
  color: var(--btn-color);
}

/* ------------------------------------------------------------------------------------ */
/* btn to up */
.btn-up{
  background-color: var(--bg-color);
  color: var(--wh-color);
  border: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
   display: none;
}




